<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GranitXMLEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        <GranitXMLEditor.Properties.Settings>
                <setting name="SortedColumn" serializeAs="String">
                        <value />
                </setting>
                <setting name="SortOrder" serializeAs="String">
                        <value>None</value>
                </setting>
                <setting name="AlignTable" serializeAs="String">
                        <value>None</value>
                </setting>
                <setting name="LastOpenedFilePath" serializeAs="String">
                        <value>default.xml</value>
                </setting>
                <setting name="MruListItemLength" serializeAs="String">
                        <value>60</value>
                </setting>
        </GranitXMLEditor.Properties.Settings>
    </userSettings>
</configuration>