################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GranitXMLTemplate/bin/Debug/fizu_adok_11.xml
/GranitXMLTemplate/bin/Debug
/GranitXMLTemplate/obj/Debug
