################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GranitXMLEditor/bin/Debug
/GranitXMLEditor/obj/Debug
#/GranitXMLEditorTest/bin/Debug
#/GranitXMLEditorTest/obj/Debug
/PoorMensAboutBox/bin/Debug
/PoorMensAboutBox/obj
/DataGridViewMaskedTextBox/bin/Debug
/DataGridViewMaskedTextBox/obj/Debug
*.exe
*.pdb

