version: '{build}'
branches:
  only:
  - master

# Do not build on tags (GitHub and BitBucket)
#skip_tags: true

# Start builds on tags only (GitHub and BitBucket)
#skip_non_tags: true

# Skipping commits with particular message or from specific user
#skip_commits:
#  message: /Created.*\.(png|jpg|jpeg|bmp|gif)/      # Regex for matching commit message

# Including commits with particular message or from specific user
#only_commits:
#  message: /build/                # Start a new build if message contains 'build'

image: Visual Studio 2017

#environment:
  #IDE_PATH: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE

#install:
  #- ps: .\install-vsix-appveyor.ps1

configuration:
- Release
- Debug
platform: Any CPU
build:
  verbosity: normal

  # scripts to run after build
#after_build:
  #- ps: $($env:IDE_PATH)\devenv.exe GranitEditorSetup\GranitEditorSetup.vdproj /build $($env:CONFIGURATION)

artifacts:
- path: GranitEditorSetup\Release
  name: GranitEditor Installer
- path: GranitXMLEditor\bin\Release
  name: GranitEditor Release Deployment
- path: GranitXMLEditor\bin\Debug
  name: GranitEditor Debug Deployment
deploy:
- provider: Environment
  name: GranitEditor Releases Environment
  on:
    branch: master
