<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--Increment the first 3 place of the Version value in your Product element to be higher than any previous versions that you have shipped.-->
  <!--<?define ProductVersion = "1.0.1.0"?>--> 
  <?define ProductVersion = "!(bind.FileVersion.GranitEditor.exe)"?> <!-- FileVersion.<Id of the required field > --> 
  <?define ProductName = "GranitEditor"?>
  <?define UpgradeCode = "2141E9EA-1BAF-4B9F-A20F-1D9AE0A688B8"?>  

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="MataSoft Bt"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade
        DowngradeErrorMessage="A newer version of [ProductName] is already installed."
        AllowSameVersionUpgrades="yes"
        Schedule="afterInstallValidate"/>

    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="GranitEditorWiXInstaller" Level="1">
        <ComponentGroupRef Id="ProductComponents" />
        <ComponentGroupRef Id="StartMenuComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="GranitEditor" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="GranitEditor"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="GranitEditor.exe">
        <File Id="GranitEditor.exe" Source="$(var.GranitEditor.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="GranitEditor.exe.config">
        <File Id="GranitEditor.exe.config" Source="$(var.GranitEditor.TargetPath).config" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="GenericUndoRedo.dll">
        <File Id="GenericUndoRedo.dll" Source="$(var.GenericUndoRedo.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="example.xml">
        <File Id="example.xml" Source="$(var.GranitEditor.TargetDir)\example.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="HUFTransactions.xsd">
        <File Id="HUFTransactions.xsd" Source="$(var.GranitEditor.TargetDir)\HUFTransactions.xsd" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="README.md">
        <File Id="README.md" Source="$(var.GranitEditor.TargetDir)\README.md" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="README.hu.md">
        <File Id="README.hu.md" Source="$(var.GranitEditor.TargetDir)\README.hu.md" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="LICENCSE">
        <File Id="LICENCSE" Source="$(var.GranitEditor.TargetDir)\LICENSE" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="StartMenuComponents" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut"  >
        <Shortcut Id="ApplicationStartMenuShortcut"
           Name="GranitEditor"
           Description="Granit Editor"
           Target="[!GranitEditor.exe]"
           WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="UninstallProduct"
                          Name="Uninstall GranitEditor"
                          Description="Uninstalls GranitEditor"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\GranitEditor" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
